<div
  class="payment-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <div
    style="width: 100%"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="10px"
  >
    <button mat-raised-button>
      <fa-icon [icon]="faAngleDoubleLeft" size="lg"></fa-icon>
      <h2>Retour</h2>
    </button>
    <h1>Paiement</h1>
    <button mat-raised-button color="accent">
      <h2>Valider</h2>
      <fa-icon [icon]="faAngleDoubleRight" size="lg"></fa-icon>
    </button>
  </div>
  <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-button-toggle-group vertical name="paymentMethod">
      <mat-button-toggle value="especes">Espèces</mat-button-toggle>
      <mat-button-toggle value="carte">Carte Bancaire</mat-button-toggle>
    </mat-button-toggle-group>
    <div>
      <h1 style="color: green">
        {{ total | currency: "MAD ":"code":"1.2-2" }}
      </h1>
    </div>
  </div>
</div>
