.payment-container {
  margin-top: 20px;
  text-align: center;
}

.payment-container .mat-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  gap: 5px;
}

.total-price {
  font-size: 64px;
  color: #43996e;
  text-shadow: 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.27);
}

.kb-btn {
  cursor: pointer;
  min-height: 50px;
  font-size: 24px;
  color: #555555;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kb-btn:hover {
  background-color: #f0f0f0;
  transition: all 150ms linear;
}

.payment-numpad {
  background-color: #e2e2e2;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  text-align: center;
}

.brd-b {
  border-bottom: 1px solid #bfbfbf;
}

.brd-r {
  border-right: 1px solid #bfbfbf;
}
