<div
  class="payment-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <div fxFlex="30">
    <button mat-raised-button (click)="returnToOrder()">
      <fa-icon [icon]="faAngleDoubleLeft" size="lg"></fa-icon>
      <h2>Retour</h2>
    </button>
  </div>
  <div fxFlex="40">
    <h1>Paiement</h1>
  </div>
  <div fxFlex="30">
    <button mat-raised-button color="accent" disabled="orderIsAllSet">
      <h2>Valider</h2>
      <fa-icon [icon]="faAngleDoubleRight" size="lg"></fa-icon>
    </button>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="30"
    (keypress)="keypress($event)"
  >
    <mat-form-field appearance="outline" *ngIf="paymentMethod == 'especes'">
      <input
        style="font-size: 36px; font-weight: bold"
        matInput
        #cashInput
        type="text"
        [(ngModel)]="cash"
        (keypress)="keypress($event)"
        maxlength="8"
      />
    </mat-form-field>

    <mat-button-toggle-group
      [(ngModel)]="paymentMethod"
      vertical
      name="paymentMethod"
    >
      <mat-button-toggle value="especes">Espèces</mat-button-toggle>
      <mat-button-toggle value="carte">Carte Bancaire</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxFlex="30" style="font-size: 24px">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="topay"
      *ngIf="paymentMethod === 'especes'"
    >
      <div [ngStyle]="{ color: total - cash > 0 ? '#43996e' : 'black' }">
        <b>Reste à payer:</b>
        {{
          total - cash > 0
            ? (total - cash | currency: "MAD ":"code":"1.2-2")
            : (0 | currency: "MAD ":"code":"1.2-2")
        }}
      </div>
      <div [ngStyle]="{ color: total - cash < 0 ? '#43996e' : 'black' }">
        <b>Monnaie:</b>
        {{
          total - cash < 0
            ? (total - cash | currency: "MAD ":"code":"1.2-2")
            : (0 | currency: "MAD ":"code":"1.2-2")
        }}
      </div>
    </div>
  </div>
  <div fxFlex="40">
    <div class="total-price">
      {{ total | currency: "MAD ":"code":"1.2-2" }}
    </div>
    <div>
      {{ paymentMethod ? "" : "Choisissez un moyen de paiement." }}
    </div>
  </div>
  <div style="height: 100px" fxFlex="100"></div>
  <div
    class="payment-numpad"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex="30"
    fxFlexOffset="20"
    style="text-align: center"
  >
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      1
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      2
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      3
    </div>
    <div class="kb-btn brd-b" fxFlex="25" (click)="onNumpadButtonClick($event)">
      +10
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      4
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      5
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      6
    </div>
    <div class="kb-btn brd-b" fxFlex="25" (click)="onNumpadButtonClick($event)">
      +20
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      7
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      8
    </div>
    <div
      class="kb-btn brd-b brd-r"
      fxFlex="25"
      (click)="onNumpadButtonClick($event)"
    >
      9
    </div>
    <div class="kb-btn brd-b" fxFlex="25" (click)="onNumpadButtonClick($event)">
      +50
    </div>
    <div class="kb-btn brd-r" fxFlex="25" (click)="onNumpadButtonClick($event)">
      0
    </div>
    <div class="kb-btn brd-r" fxFlex="25" (click)="onNumpadButtonClick($event)">
      +100
    </div>
    <div class="kb-btn brd-r" fxFlex="25" (click)="onNumpadButtonClick($event)">
      +200
    </div>
    <div class="kb-btn" fxFlex="25" (click)="onNumpadButtonClick($event)">
      <fa-icon [icon]="faBackspace" size="s"></fa-icon>
    </div>
  </div>
</div>
