.black-border {
  border: 1px solid black;
}

.grey-border {
  border: 1px solid #bfbfbf;
}

.vh90 {
  height: 90vh;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.pos-container .mat-form-field {
  width: 95%;
  margin-top: 20px;
}

.orders {
  overflow: overlay;
  height: 100px;
  background-color: #fff;
}

.orders mat-card {
  width: 70%;
}

.item {
  padding-left: 20px;
  height: 80px;
  padding-right: 25px;
  cursor: pointer;
  line-height: 5px;
}

.fill-div {
  width: -webkit-fill-available;
}

.line {
  float: right;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
  border-top: solid 2px;
  border-top-color: currentcolor;
  border-color: #777;
}

.product {
  border: 1px solid black;
  background-color: #fff;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.product-list {
  width: 95%;
}

.calculator-button {
  height: 70px;
  cursor: pointer;
}

.calculator-button:hover {
  background-color: #e2e2e2;
  transition: all 150ms linear;
}

.starting-mode {
  background-color: #6ec89b;
  color: white;
}
