<div
  class="pos-container vh90"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="5px"
>
  <div
    class="h100"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    fxFlex="35"
  >
    <div
      class="orders black-border w100"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxFlex="40"
      #ordersContainer
      [scrollTop]="ordersContainer.scrollHeight"
    >
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!ordersExist">
        <p style="color: #888">Cette commande est vide</p>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between start"
        fxLayoutGap="2px"
        class="item fill-div"
        *ngFor="let order of orders; index as i"
        (click)="onItemSelect(thisItem, i)"
        #thisItem
      >
        <div>
          <h3>{{ order.productName }}</h3>
          <p style="color: #888">
            <b>{{ order.quantity | currency: "MAD ":"code":"1.2-2" }}</b> Unités
            à {{ order.pricePerUnit | currency: "MAD ":"code":"1.2-2" }} / Unité
          </p>
        </div>

        <h3>
          {{ order.total | currency: "MAD ":"code":"1.2-2" }}
        </h3>
      </div>
      <div
        style="padding-right: 8px; line-height: 0px; padding-bottom: 20px"
        class="fill-div"
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <div class="line" *ngIf="ordersExist">
          <h2>Total: {{ totalPrice | currency: "MAD ":"code":"1.2-2" }}</h2>
        </div>
      </div>
    </div>
    <div
      class="black-border w100"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="0px"
      fxFlex
    >
      <div
        class="grey-border payment-button"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex="45"
        style="height: 100%"
        (click)="onPaymentClick()"
      >
        <fa-icon [icon]="faChevronCircleRight" size="3x"></fa-icon>
        <h3>Payment</h3>
      </div>
      <div
        style="height: 100%"
        fxLayout="column"
        fxLayoutAlign="space-evenly start"
        fxFlex
      >
        <div
          class="calculator-row w100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>1</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>2</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>3</h3>
          </div>
          <div
            class="starting-mode calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onModeClick(qty)"
            #qty
          >
            <h3>Qté</h3>
          </div>
        </div>
        <div
          class="calculator-row w100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>4</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>5</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>6</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onModeClick(disc)"
            #disc
          >
            <h3>Réduc</h3>
          </div>
        </div>
        <div
          class="calculator-row w100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>7</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>8</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>9</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onModeClick(price)"
            #price
          >
            <h3>Prix</h3>
          </div>
        </div>
        <div
          class="calculator-row w100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
          >
            <h3>+/-</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onNumberClick($event)"
          >
            <h3>0</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
          >
            <h3>.</h3>
          </div>
          <div
            class="calculator-button grey-border"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="25"
            (click)="onRemoveClick()"
          >
            <fa-icon [icon]="faBackspace" size="lg"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="black-border h100"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    fxFlex
  >
    <div
      class="w100"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-form-field appearance="fill">
        <mat-label>Rechercher un médicament</mat-label>
        <input matInput />
      </mat-form-field>
      <div
        class="product-list"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutGap="20px"
      >
        <div
          class="product"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          *ngFor="let product of products; index as i"
          (click)="onProductSelect(i)"
        >
          {{ product.id }}
          <h2>{{ product.productName }}</h2>
          {{ product.pricePerUnit | currency: "MAD ":"code":"1.2-2" }}
        </div>
      </div>
    </div>
  </div>
</div>
