<div
  class="vh90"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="50px"
>
  <div
    class="black-border h100"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    fxFlex="50"
  >
    <div
      class="black-border"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      Order will be here
    </div>
    <div
      class="black-border"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      Numbers, payment, delete etc
    </div>
  </div>
  <div
    class="black-border h100"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    fxFlex
  >
    <h1>Drugs catalog</h1>
    <mat-form-field appearance="fill">
      <mat-label>Rechercher un médicament</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</div>
