<div style="height: 100%; width: 100%" fxLayout="row">
  <div
    class="overlay"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="isLoadingPayment"
  >
    <mat-spinner></mat-spinner>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlex="70"
    style="padding: 2rem; border-right: 3px solid grey"
  >
    <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Rechercher un médicament</mat-label>
      <input matInput />
    </mat-form-field>
    <div fxLayout="row">
      <mat-card
        *ngFor="let item of drugs"
        style="margin-right: 1rem; max-width: 12rem"
      >
        <mat-card-header>
          <mat-card-title>{{
            (item.drug.nom | slice: 0:25) +
              (item.drug.nom.length > 25 ? "..." : "")
          }}</mat-card-title>
          <mat-card-subtitle
            >{{ item.drug.ppv | currency: "MAD ":"code":"1.2-2" }},
            {{
              item.quantityOnHand +
                (item.quantityOnHand > 1
                  ? " unités en stock"
                  : " unité en stock")
            }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <button
            mat-icon-button
            style="color: grey"
            (click)="openInfoDialog()"
          >
            <fa-icon [icon]="faInfoCircle"></fa-icon>
          </button>
          <button
            mat-icon-button
            style="color: green"
            (click)="openQtyDialog(item)"
          >
            <fa-icon [icon]="faCartPlus"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlex
    style="background-color: #f7f7f7b8; padding: 1rem"
  >
    <h1>Votre Commande</h1>
    <div
      fxLayout="column"
      fxLayoutAlign="start center"
      fxFlex="70"
      style="overflow: auto"
    >
      <mat-card
        *ngFor="let item of salesOrderItems"
        style="margin-bottom: 1rem; background-color: #ededed"
      >
        <mat-card-header>
          <mat-card-title>{{ item.inventoryItem.drug.nom }}</mat-card-title>
          <mat-card-subtitle
            >{{ item.quantity + (item.quantity > 1 ? " unités" : " unité") }},
            {{
              item.quantity +
                " x " +
                item.inventoryItem.drug.ppv +
                " = " +
                (item.quantity * item.inventoryItem.drug.ppv
                  | currency: "MAD ":"code":"1.2-2")
            }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button
            mat-icon-button
            style="color: red"
            (click)="deleteItemFromOrder(item)"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="end center"
      fxFlex
      style="width: 100%"
    >
      <div style="width: 100%">
        <button
          mat-raised-button
          class="payment-button"
          (click)="openPaymentDialog()"
          [disabled]="totalPrice > 0 ? false : true"
        >
          Paiement
          {{
            totalPrice > 0
              ? "(" + (totalPrice | currency: "MAD ":"code":"1.2-2") + ")"
              : ""
          }}
        </button>
      </div>
    </div>
  </div>
</div>
