<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <div
    class="overlay"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="isLoading"
    fxLayoutGap="20px"
  >
    <mat-spinner></mat-spinner>
    <p>Chargement...</p>
  </div>
  <form
    action="submit"
    fxLayout="column"
    fxLayoutAlign="center center"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    *ngIf="!isLoading"
  >
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter your username"
          required
          ngModel
          name="username"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
          required
          ngModel
          name="password"
        />
      </mat-form-field>
    </p>
    <p id="p-login">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        Log in
      </button>
    </p>
  </form>
</div>
