<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    mat-button
    (click)="snav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Bonjour M. Anouar</span>

  <div fxFlex></div>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Paramétres</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Se Déconnecter</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav>
    <mat-nav-list fxLayout="column" fxLayoutAlign="start center">
      <mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon> Dashboard</mat-list-item
      >
      <mat-list-item
        ><i class="fas fa-prescription"></i> Medicine</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    fxLayout="column"
    fxLayoutAlign="center center"
    class="main"
  >
    Testing content
  </mat-sidenav-content>
</mat-sidenav-container>
