<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    mat-button
    (click)="snav.toggle()"
    *ngIf="isAuthenticated"
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <span>{{ title }}</span>

  <div fxFlex></div>

  <button
    mat-icon-button
    *ngIf="!isAuthenticated"
    routerLink="/login"
    routerLinkActive="active"
  >
    <fa-icon [icon]="faSignInAlt" size="lg"></fa-icon>
  </button>
  <button mat-icon-button *ngIf="isAuthenticated" routerLinkActive="active">
    <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated">
    <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <fa-icon [icon]="faCog" size="lg"></fa-icon>
      <span>Paramétres</span>
    </button>
    <button mat-menu-item>
      <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
      <span>Se Déconnecter</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <mat-nav-list fxLayout="column" fxLayoutAlign="start center">
      <mat-list-item
        fxLayout="row"
        fxLayoutAlign="start none"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faTachometerAlt" size="lg"></fa-icon>
        <span>Dashboard</span>
      </mat-list-item>

      <mat-list-item
        fxLayout="row"
        fxLayoutAlign="start none"
        routerLink="/drugs"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faPrescriptionBottleAlt" size="lg"></fa-icon>
        <span>Médicaments</span>
      </mat-list-item>
      <mat-list-item
        fxLayout="row"
        fxLayoutAlign="start none"
        routerLink="/sales"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faMoneyBillWave" size="lg"></fa-icon
        ><span>Ventes</span>
      </mat-list-item>
      <mat-list-item
        fxLayout="row"
        fxLayoutAlign="start none"
        routerLink="/reporting"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faChartBar" size="lg"></fa-icon><span>Reporting</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
