<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div class="dashboard-item sales">
    <h1>{{ moneyMadeToday | currency: "MAD ":"code":"1.2-2" }}</h1>
    <p style="color: #e7dede">Ventes d'aujourd'hui</p>
  </div>
  <div class="dashboard-item stock">
    <h1>{{ iventoryItems.length }}</h1>
    <p style="color: #e7dede">En stock</p>
  </div>
  <div class="dashboard-item no-of-sales">
    <h1>{{ salesOrders.length }}</h1>
    <p style="color: #e7dede">Nombre de ventes d'aujourd'hui</p>
  </div>
</div>
